<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Add Tag</strong>
  <% @recipe.tags.each do |tag| %>
  <%= tag.name %>,
  <% end %>
</p>

<form action="/recipes/<%=@recipe.id%>/add_tag" method="post">
  <div class="field">
    <label for="tag_name">Tag Name</label><br>
    <input type="text" name="tag[name]" id="tag_name" />
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Add Tag" />
  </div>
</form>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
